.chart {
    // flex: 1;
    margin-top: 50px;
    color: gray;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 5px;
    padding: 10px;

    .title {
        margin-bottom: 20px;
    }

    .chartgrid {
        stroke: rgb(228, 222, 222);
    }
}