@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto:wght@500&family=Rubik+Moonrocks&display=swap');

.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #e6f0f9;

    font-family: 'Mulish', sans-serif;


}


@media (max-width: 900px) {
    .home {
        // width: 100% !important;
    }

}

@media (max-width: 600px) {
    .home {
        width: 100% !important;


    }
}