.widget {
    flex: 1;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    height: 100px;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: 14px;
            font-weight: bold;
            color: rgb(203, 202, 202);
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            font-size: 12px;
            width: max-content;
            border-bottom: 1px solid gray;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
            // background-color: rgba(128, 0, 128, 0.541);
        }
    }
}